<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加用户</title>
</head>
<body>
<form action="/adduser" enctype="multipart/form-data" method="post">
<table>
    <tr>
        <td>姓名：</td>
        <td>
            <input type="text" name="uname">
        </td>
    </tr>
    <tr>
        <td>年龄：</td>
        <td>
            <input type="text" name="uage">
        </td>
    </tr>
    <tr>
        <td>邮箱：</td>
        <td>
            <input type="text" name="uemail">
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="提交">
        </td>
    </tr>
</table>
</form>
</body>
</html>
