<!DOCTYPE html>
<html lang=zh">
<head>
    <meta charset="UTF-8">
    <title>作者</title>
    <script src="../static/js/jquery-1.11.3.js"></script>
    <script>
        $(function () {
            $("#delete").click(
                function () {
                if (confirm('你真的要neng死他么？')) {
                    id = $(this).val();
                    location.href="/09-delete/" + id
                }
            })
        })
    </script>
</head>
<body>
    <table>
        <tr>
            <th>姓名</th>
            <th>年龄</th>
            <th>邮箱</th>
            <th>操作</th>
        </tr>
        {% for au in a.a %}
            <tr>
            <td>{{ au.name }}</td>
            <td>{{ au.age }}</td>
            <td>{{ au.email }}</td>
            <td>
                <button id="delete" value="{{ au.id }}">删除</button>
{#                <a href="/05-update/{{ au.id }}/">修改</a>#}
                <a href="{% url 'upgrade' au.id %}">修改</a>
            </td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>