{% extends 'table.html'%}
{% block change %}
<form action="/update" enctype="multipart/form-data" method="post">
    <table>
        <tr>
            <td>姓名：</td>
            <td>
                <input type="text" value="{{ user.uname }}" name="uname">
                <input type="hidden" name="id" value="{{ user.id }}">
            </td>
        </tr>
        <tr>
            <td>年龄：</td>
            <td>
                <input type="number" value="{{ user.uage }}" name="uage">
            </td>
        </tr>
        <tr>
            <td>邮箱：</td>
            <td>
                <input type="email" value="{{ user.uemail }}" name="uemail">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="提交修改">
            </td>
        </tr>
    </table>
</form>
{% endblock %}