<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>宏</title>
</head>
<body>
    {% include "header.html"%}
    {% macro show_li(str) %}
        <li>
            <p style="font-size: 16px;">
                内容如下
            </p>
            <span style="color: orange;">
                {{str}}
            </span>
        </li>
    {% endmacro %}
    <ul>
        {% for name in list %}
            {{show_li(name)}}
        {% endfor %}
    </ul>
    <h1>调用macro.html宏</h1>
    {% import "macro.html" as macros %}
    {{macros.show_ul(list)}}

    {% for name in list %}
        {{macros.show_p(name)}}
    {% endfor %}
</body>
</html>
